@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@layer base {
  html {
    font-family: "Roboto", sans-serif;
  }

  .searchResult {
    @apply text-white font-bold underline decoration-pink-500 bg-transparent;
  }
}

@layer components {
  .input-decorator {
    @apply appearance-none block w-full bg-gray-200 text-gray-700 rounded py-3 px-4 leading-tight focus:bg-white focus:text-black;
  }

  .select-decorator {
    @apply block appearance-none w-full bg-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:bg-white;
  }
}

.p-datatable[pr_id_2] .p-datatable-thead > tr > th:nth-child(1),
.p-datatable[pr_id_2] .p-datatable-tbody > tr > td:nth-child(1),
.p-datatable[pr_id_2] .p-datatable-tfoot > tr > td:nth-child(1) {
  flex: none !important;
  border-width: 0px;
}

.p-dialog {
  @apply md:max-w-[50%];
}
